<header-general></header-general>

<div layout="row" ng-cloak>

  <md-content flex-offset="5" flex="90" layout-padding>
    
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab ng-repeat="(tabKey, tabVal) in editorSettings.list" label="{{tabKey}}"
	      md-on-select="changeTab('{{tabKey}}');"
              md-active="! editorSettings.tab || editorSettings.tab === '{{tabKey}}'">
	<md-content class="md-padding">
          <md-list ng-repeat="(tabName, tabData) in tabVal">
            <h3>{{tabName}}</h3>
            <div layout="row" ng-repeat="item in tabData">
              <div flex="70">{{ item }} </div>
              <div flex>
		<md-checkbox aria-label="answer 1"></md-checkbox>
	      </div>
            </div>
          </md-list>
	</md-content>
      </md-tab>

    </md-tabs>
  </md-content>
      
</div>

